<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <ul>

    <% if (locals.users) {%>
      <% users.forEach(user => { %>
        <li>
          ID: <%= user.id %>, Name: <%= user.username %>
        </li>
      <% }); %>
    <% } %>
  </ul>
  <form action="/" method="GET">
    <label for="search">Search usernames</label>
    <input type="text" name="search" id="search" placeholder="Enter name to search">
    <button type="submit">Search!</button>
  </form>
  <form action="/delete" method="POST">
    <label for="delete">Delete username</label>
    <input type="text" name="username" id="delete" placeholder="Enter name to delete">
    <button type="submit">Delete</button>
  </form>
  <a href="/">Homepage</a>
</body>
</html>

  